{% block content %}
    <div class="image-grid"> 
        {% if content.field_title.0 %}
            <h2>{{content.field_title}}</h2>
        {% endif %}
        <div class="images">{{content.field_images}}</div>
    </div>
{% endblock %} 