.cv-count {
    display: grid;
    grid: auto/repeat(3, 1fr);
    grid-gap: 15px;
    @include breakpoint(sm-max) {
       grid: auto/1fr; 
    }
    > div {
        background: $dk-gray;
        color: #fff;
        font-family: $font-lm;
        font-size: 50px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        text-align: center;
        &::after {
            position: absolute;
            bottom: -50px;
            left: 0;
            font-size: 14px;
            text-align: center;
            width: 100%;
            @include transition(bottom .3s $cubic);
            @include breakpoint(sm-max) {
                bottom: auto;
                display: block;
                position: relative;
            }
        }
        &:hover, &:focus {            
            &::after {
                bottom: 10px;
            }
        }
        &.current {
            color: $secondary;
            &::after {                
                content: "infected";
            }
        }
        &.deaths {
            color: $primary;
            &::after {                
                content: "deaths";
            }
        }
        &.tested {
            color: $green;
            &::after {                
                content: "tested";
            }
        }
    }
    + .disclaimer {
        font-size: 14px;
        margin: 20px 0 40px;
        text-align: center;
    }
}