.home-wrap {
    .header {
        background: none;
        position: absolute;
    }
    .hero {
        margin: 0;
    }
    .top {
        background: $primary;
        padding: 60px 0;
        a {
            color: $dk-gray;
            font-weight: bold;            
            text-decoration: underline;
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
    .main {
        .content {
            margin: 0;
        }
    }
}