/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #ccc;
$md-gray: #5b616b;
$dk-gray: #232323;
$blue: #0048a5;
$dk-blue: #1B2A49;
$teal: #02909E;
$red: #CD3B3A;
$orange: #E8643A;
$gold: #f5cd00;
$green: #48b800;

$primary: $red;
$secondary: $gold;
$tertiary: $blue;

/*FONTS*/

$font-lm: 'Lemon/Milk';
$font-sans: 'SF Pro', 'Source Sans Pro', sans-serif;
$font-serif: 'Roboto Slab', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);