/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #ccc;
$md-gray: #5b616b;
$dk-gray: #232323;
$red: #e41d3d;
$orange: #e17141;
$gold: #ffbe2e;
$green: #7fb135;
$teal: #00bde3;
$blue: #0076d6;
$dk-blue: #0b4778;

$primary: $teal;
$secondary: $red;
$tertiary: $gold;

/*FONTS*/
$font-script: 'attack';
$font-lm: 'Lemon/Milk';
$font-sans: 'SF Pro', 'Source Sans Pro', sans-serif;
$font-serif: 'Roboto Slab', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);